asgiref==3.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.4
django-crispy-forms==1.14.0
docopt==0.6.2
idna==3.3
pipreqs==0.4.11
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
yarg==0.1.9

pip==21.1.2
wheel==0.36.2
setuptools==57.0.0