body {
    background-color: rgb(234, 225, 225);
  }

  p {
    font-size: 24px;
  }

  .color {
    display: none;
    font-size: 24px;
    cursor: pointer;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .thick {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .btn {
    font-family: "Lucida Console", "Courier New", monospace;
  }


  .title {
    font-size: 44px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
  }

  .target {
    font-size: 44px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(26, 26, 26);
  }

  .center_padded {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    border: 3px solid #126c2c;
    padding: 50px;
}

.medium {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 32px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color:#343a40;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}


.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #343a40;
}