{% extends "base.html" %}

<body>
{% block content %}
    <br><br><br><br>
    <div class="row justify-content-center">
        <h2 class="thick" ><b>Results history</b></h2>
        <br><br><br><br>
    </div>


    <form method="get" id="history_form">
    <div class="row justify-content-center mb-5">
        <div class="col"></div>
    {{ myFilter.form}}
        <div class="col">
            <button class="btn btn-secondary" type = "submit" > Search</button>
        </div>
    </div>



    </form>


    <div class="row justify-content-center">
    <table class="styled-table">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Date</th>
          <th scope="col">State</th>
          <th scope="col">Average speed</th>
          <th scope="col">Good answers</th>
          <th scope="col">Bad answers</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>{{object.player}}</td>
                <td>{{ object.start_time }}</td>
                {% if object.state == 'A' %}
                <td>After work</td>
                    {% else %}
                    <td>Before work</td>
                {% endif %}
                <td>{{object.avg_speed }}</td>
                <td>{{object.good_answers}} </td>
                <td> {{object.bad_answers}} </td>
                <td> {{object.result}}% </td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}

</body>
