{% extends "base.html" %}


{% block content %}

{#<ul class="messages">#}
{#    {% for message in messages %}#}
{#    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>#}
{#    {% endfor %}#}
{#</ul>#}


{% load static %}


<br><br><br>
    <div class="row justify-content-center">

<img src="{% static 'stroop.jpg' %}" class="rounded-circle" alt="New York" width="1100" height="500" >
    </div>
<br>
     <div class="row justify-content-center">

     <div class="col"></div>
         <p class="thick" >Play the game and check your reaction! -> </p>

         <div class="col">
        <a class="h4" style="color: green" href="{% url 'startgame' %}">Play</a>
         </div>
    </div>



{% endblock %}


