{% extends "base.html" %}

{% block content %}

<form method="post"  enctype="multipart/form-data" action="{% url 'result' %}" id="form">
    {% csrf_token %}
    {{game_form}}
    <div class="center_padded">
        <h1 class="title" id="title">Stroop Test</h1>
        <p class="thick" id="summary">Match the color of the displayed text to the text on the buttons.</p>
        <p class="target" id="wordParagraph"></p>
        <div id = wrapper style="display: none;">
        <pre class="medium" id="results">
Correct response average time: seconds.
No correct responses.
Correct answers: .
Wrong answers: .
        </pre>
        </div>
          <button type="button" id="startButton" class="btn btn-success btn-lg" >Start game</button>
          <button type="button" id="instructions" class="btn btn-secondary btn-lg">Instructions</button>
          <p id="counter" class="thick"></p>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">pink</button>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">orange</button>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">yellow</button>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">green</button>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">blue</button>
          <button type="button" class="color btn btn-outline-dark" style="display:none;">purple</button>
          <p id="reactionTime" class="thick" style="display: none;"></p>
    </div>

    <input type="hidden" id="good_answers" name="good_answers">
    <input type="hidden" id="bad_answers" name="bad_answers">
    <input type="hidden" id="avg_speed" name="avg_speed">

    <button class="btn btn-light" type="submit" id="submitter" style="display: none">Dodaj</button>
</form>
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
    <button type="button" class="btn btn-outline-dark" style="display:block;"><a href="{% url 'result' %}">results</a></button>

{% endblock %}


